@import "reset";
@import "base";

html,
body,
.container {
    height: 100%;
    width: 100%;
}

.alerts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alert {
    width: 70%;
    background: radial-gradient(
            100% 4069.56% at 100% 100%,
            rgba(242, 249, 255, 0.95) 0%,
            rgba(235, 246, 255, 0.95) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 30px;

    .baliseName {
        width: 50%;
        background: #9fc5e8;
        border-radius: 30px 0px;
        padding-left: 30px;
        padding: 1em;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        // background-color: crimson;

        .left {
            display: flex;
            flex-direction: column;
            // background-color: blue;
            .top {
                display: flex;
                flex-direction: row;

                select[name="sensor"] {
                    margin: 1%;
                    background: #ffffff;
                    border-radius: 20px 0px 0px 20px;
                }
                select[name="operator"] {
                    margin: 1%;
                    background: #ffffff;
                }
                input[name="comparator"] {
                    margin: 1%;
                    background: #ffffff;
                    border-radius: 0px 20px 20px 0px;
                }
            }
        }

        .right {
            display: flex;
            // background-color: green;
            textarea {
                width: 740px;
                height: 140px;
            }
        }
    }
}

input,
textarea {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
}
