@use "sass:color";
@import "reset";
@import "base";
@import "glassy";
@import "colors";
@import "topbar";

@keyframes scale_up {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

@keyframes rotate_360 {
    to {
        transform: scale(1.5) rotate(0deg);
    }

    from {
        transform: scale(1.5) rotate(360deg);
    }
}

.container {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
}

/* Bouton pour ajouter une nouvelle alerte */
.add-alert {
    display: flex;
    width: fit-content;
    margin: 1em 0 0 1em;

    align-items: center;
    text-align: center;

    cursor: pointer;

    i,
    div {
        display: flex;
        height: 30px;
        width: fit-content;
        margin: .5em;
        align-items: center;
        user-select: none;
    }

    &:hover {
        stroke: $p2;
        color: $p2;

        // Ne souligne pas l’icône
        & :not(i) {
            text-decoration: underline;
        }

    }
}


/* Contient toutes les alertes */
.alerts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
}

/* Cache le template */
#alert0 {
    display: none !important;
}

/* Style d'une alerte */
.alert-item {
    display: block;
    width: auto;
    border-radius: 20px;

    background: $p1;

    box-shadow: 0 0 20px 0px #2c2c2c4d;
}

.alert-header {
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;

    background-color: $primary;

    select {
        font-size: 1.4em;
        user-select: none;
        cursor: pointer;
    }

    /* Alignement des boutons vers la droit */
    justify-content: space-between;

    .buttons {
        display: flex;
        margin-right: 1em;
        flex-direction: row;
        gap: 1em;
        font-size: 1.5em;

        button>i {
            transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

            &:hover {
                transform: scale(1.5);
            }
        }
    }
}

.alert-body {
    display: flex;
    flex-direction: row;
    padding: 20px;

    gap: 20px;

    select,
    input {
        padding: 10px;

        background-color: $white;

        user-select: none;
        cursor: pointer;

        // Select sensors
        &:nth-child(1) {
            border-radius: 10 3 3 10;
        }

        // Select signs
        &:nth-child(2) {
            border-radius: 3 3 3 3;
        }

        // Input control
        &:nth-child(3) {
            border-radius: 3 10 10 3;
            width: fit-content;
        }
    }
}