$light-gray: #c4c4c4;
$blue: #6fa9dcb3;

$aqua: #9fc5e8;

/********************/

$white: #ffffff;

$red: #ef4565;
$green: #28a745;

$primary: #7ab2e6;
$p1: #cbe0fcf2;
$p2: #0072dd;

$success: #28a745;
$info: #17a2b8;
$warning: #e1b410;
$danger: #dc3545;