$light-gray: #c4c4c4;
$blue: #6fa9dcb3;

$aqua: #9fc5e8;


// https://colors.artyclick.com/color-name-finder/
// background-color: color.adjust($light-gray, $alpha: -0.5%);
// https://sass-lang.com/documentation/modules/color