.bg {
    background-image: url("../../assets/background_.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.glass {
    background: rgba(255, 255, 255, 0.026);
    backdrop-filter: blur(2px);
}
