.bg {
    background-image: url("../../assets/background_.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-animated {
    background-image: url("../../assets/bg_animated/bg_a_1.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.glass {
    background: #ffffff07;
    backdrop-filter: blur(2px);
}