@import "reset";
@import "base";
@import "colors";
@import "_mixins";
// @import "glassy";

html,
body,
.root {
  width: 100%;
  height: 100%;
}
.root {
  background-image: url("../../assets/background.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.026);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
}

.main {
  position: absolute;
  top: 50%;
  right: 50%;

  height: 700px;
  width: 500px;

  transform: translate(50%, -50%);

  background: linear-gradient(212.48deg, rgba(255, 255, 255, 0.2) 1.45%, rgba(0, 0, 0, 0) 99.49%);
  border: 3px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  /* Blur */

  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .title-wrapper {
    .title {
      flex: 1;
      background: rgba(255, 255, 255, 0.4);
      border: 3px solid rgba(255, 255, 255, 0.4);
      box-sizing: border-box;
      /* Note: backdrop-filter has minimal browser support */
      backdrop-filter: blur(30px);
      border-radius: 30px;

      padding: 22px;
      margin: 50px;

      height: 64px + 22 + 64;
      width: auto;

      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      color: #6fa9dc;
    }
  }
  // title-wrapper

  .input-wrapper {
    flex: 1;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;

    label {
      color: white;
    }

    .email,
    .password {
      flex: 1;
      width: 70%;
      padding-bottom: 10px;

      .tooltip {
        padding-top: 0.3em;
        align-items: flex-start;
      }
    }
    input {
      /* Positioning  */
      border-radius: 15px;

      /* Display & Box Model */
      height: 3rem;
      width: 100%;
      margin: 1%;
      padding: 1%;
      padding-left: 10px;

      /* Color */
      background: #ffffff;

      /* Text */
      text-align: left;

      &::placeholder {
        text-align: center;
        color: $light-gray;

        transition: all 0.6s ease-in-out;
      }

      &:focus {
        &::placeholder {
          transform: translate(-150%);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  // .input-wrapper

  .submit {
    flex: 1;
    margin-top: 50px;
    width: 100%;

    color: white;

    .button {
      display: flex;
      justify-content: center;

      width: 100%;

      input {
        box-sizing: border-box;
        width: 50%;
        margin-left: 2em;
        margin-right: 2em;

        background: rgba(111, 169, 220, 0.7);
        border: 3px solid rgba(255, 255, 255, 0.4);
        border-radius: 15px;

        color: #ffffff;

        font-size: 33px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  // .main
}

.tooltip {
  color: #c4c4c4;
  // font-size: 0.8em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
